body {
  margin: 0;
  background-color: #000;
}

@font-face {
  font-family: "PCapTerminalBoldItalic";
  src: url("/fonts/PCapTerminalBoldItalic.otf");
}

@font-face {
  font-family: "PCapTerminalCondensedBoldItalic";
  src: url("/fonts/PCapTerminalCondensedBoldItalic.otf");
}

.logo {
  position: absolute;
  top: 0;
  width: 100%;
}

.logo p {
  font-family: 'PCapTerminalBoldItalic';
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  color: #00BFFF;
}

#track-info-box {
  position: absolute;
  display: flex;
  left: 40px;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 1s opacity, 1s visibility;
}

#track-info-box .left-rectangle {
  border: 1px solid #00BFFF;
  width: 10px;
  background-color: #00BFFF;
}

#track-info-box .right-rectangle {
  padding: 0px 20px;
}

#track-info-box .right-rectangle p {
  margin: 0;
}

#track-info-box .right-rectangle #artist {
  font-family: 'PCapTerminalBoldItalic';
  font-size: 44px;
  color: #00BFFF;
}

#track-info-box .right-rectangle #title {
  font-family: 'PCapTerminalCondensedBoldItalic';
  font-size: 28px;
  color: #00BFFF;
}

#volume-container {
  position: absolute;
  right: 40px;
  bottom: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 3s opacity, 3s visibility;
}

#volume-container .volume {
  -webkit-appearance: none;
  position: absolute;
  bottom: 66px;
  right: -71px;
  width: 150px;
  height: 11px;
  transform: rotate(270deg);
  border-radius: 5px;
  background: none;
  outline: none;
  z-index: 200;
}

#volume-container .volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #00BFFF;
  cursor: pointer;
}

#volume-container .volume::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #00BFFF;
  cursor: pointer;
}

#volume-container #volume-background  {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 11px;
  height: 149px;
  border-radius: 5px;
  background: rgb(167, 167, 167);
  opacity: 0.3;
  z-index: 100;
}

#volume-container #volume-level  {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 11px;
  height: 75px;
  border-radius: 5px;
  background: #00BFFF;
  z-index: 150;
}
